<ol class="list">
    {{#result}}
    <li class="item" style="margin-bottom:10px">
        <span class="titile">{{title}}</span>
        <span class="source" style="color:#ff0000;text-decoration:underline">({{source}})</span><br>
        <span class="author" style="color:#c0c0c0">Share By:{{by}}</span>
    </li>
    {{/result}}
</ol>